doctype 5
html(lang="is")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='description', content='Íslensk lán : Yfirlit yfir framboð á fasteignarlánum ásamt þróun á vöxtum.')

    link(rel='stylesheet', type='text/css', media='screen', href='stylesheets/stylesheet.css')

    title Íslensk lán

  body
    #header_wrap.outer
      header.inner
        a#forkme_banner(href='https://github.com/eirikurn/ice-mortgage')
          | View on GitHub

        h1#project_title Íslensk lán
        h2#project_tagline Yfirlit yfir framboð á fasteignarlánum ásamt þróun á vöxtum.

    #main_content_wrap.outer
      section#main_content.inner
        div#sharethis
          span.st_facebook_large(displayText='Facebook')
          span.st_twitter_large(displayText='Tweet')
          span.st_googleplus_large(displayText='Google +')
          span.st_email_large(displayText='Email')
        != body

    #footer_wrap.outer
      footer.inner
        p.copyright
          | Íslensk lán maintained by 
          a(href="https://github.com/eirikurn") eirikurn

        p
          | Published with 
          a(href="http://pages.github.com") GitHub Pages

    // Sharing buttons
    script
      var switchTo5x=true;
    script(type="text/javascript", src="http://w.sharethis.com/button/buttons.js")
    script
      stLight.options({publisher: "ur-3c53d64a-3e66-89cb-3801-821da03a28e1"});

    // Analytics
    script
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          
    script
      try {
        var pageTracker = _gat._getTracker("UA-8078862-1");
        pageTracker._trackPageview();
      } catch(err) {}
