h3 Reiknivél

p.
  <a href="http://borgar.net">Borgar</a> er búinn að búa til <a href="http://borgar.github.com/mortgage-calculator/">frábæra lánsreiknivél</a>
  sem leyfir manni að reikna alls kyns tölur sem geta hjálpað manni að gera sér
  grein fyrir hvers konar lán henti best.
p
  a(href="http://borgar.github.com/mortgage-calculator/") Opna reiknivél

h3 Íbúðalán í boði

h4 Arion banki

ul
  li
    a(href="http://www.arionbanki.is/?PageID=6901") Óverðtryggt fastir vextir í 5 ár
    |  0-60% á 7,45% í 25,40 ár - 60-80% á 8,55% í 5-40 ár
  li
    a(href="http://www.arionbanki.is/?PageID=6519") Verðtryggt fastir vextir út lánstíma
    |  0-60% á 4,25% í 5-40 ár - 60-80% á 5,35% í 5-25 ár
  li
    a(href="http://www.arionbanki.is/?PageID=6519") Verðtryggt fastir vextir í 5 ár
    |  0-60% á 3,60% í 5-40 ár - 60-80% á 4,70% í 5-25 ár
  li
    a(href="http://www.arionbanki.is/?PageID=6519") Verðtryggt breytilegir vextir
    |  0-60% á 3,50% í 5-40 ár - 60-80% á 4,60% í 5-25 ár

p Arion banki býður einnig upp á blönduð íbúðalán frá 25% upp í 75% skiptingu; verðtryggt á móti óverðtryggt. Kjörin eru þau sömu og hér að ofan.

h4 Íbúðalánasjóður

ul
  li
    a(href="http://ils.is/einstaklingar/lan/lan-til-ibudarkaupa/") Verðtryggt fastir vextir með uppgreiðsluákvæði
    |  0-80% (mest 20M) á 4,20% í 20,30,40 ár
  li
    a(href="http://ils.is/einstaklingar/lan/lan-til-ibudarkaupa/") Verðtryggt fastir vextir án uppgreiðsluákvæði
    |  0-80% (mest 20M) á 4,70% í 20,30,40 ár

p Lán hjá Íbúðalánasjóði eru ein um að vera með fasta vexti út allt tímabilið. Einnig er ekki krafa á 1. veðrétt.

h4 Íslandsbanki

ul
  li
    a(href="http://www.islandsbanki.is/einstaklingar/lan/husnaedislan/overdtryggt-husnaedislan/") Óverðtryggt fastir vextir í 3 ár
    |  0-70% á 7,70% í 1-40 ár - 70-80% á 8,60% í 1-25 ár
  li
    a(href="http://www.islandsbanki.is/einstaklingar/lan/husnaedislan/overdtryggt-husnaedislan/") Óverðtryggt breytilegir vextir
    |  0-70% á 6,75% í 1-40 ár - 70-80% á 7,25% í 1-25 ár
  li
    a(href="http://www.islandsbanki.is/einstaklingar/lan/husnaedislan/verdtryggt-husnaedislan/") Verðtryggt fastir vextir í 5 ár
    |  0-70% á 4,10% í 1-40 ár - 70-80% á 4,95% í 1-25 ár

p Óverðtryggðu fastvaxtalánin hjá Íslandsbanka eru aðeins með fasta vexti í 3 ár. Þá fer lánið sjálfkrafa í breytilega vexti en hægt er að semja aftur um fasta vexti.

h4 Landsbankinn

ul
  li
    a(href="http://www.landsbankinn.is/einstaklingar/lan-og-fjarmognun/fasteignalan/overdtryggd-ibudalan/fastir-vextir/") Óverðtryggt fastir vextir í 5 ár
    |  0-70% á 7,60% í 1-40 ár - 70-85% á 8,60% í 1-15 ár
  li
    a(href="http://www.landsbankinn.is/einstaklingar/lan-og-fjarmognun/fasteignalan/overdtryggd-ibudalan/fastir-vextir/") Óverðtryggt fastir vextir í 3 ár
    |  0-70% á 7,50% í 1-40 ár - 70-85% á 8,50% í 1-15 ár
  li
    a(href="http://www.landsbankinn.is/einstaklingar/lan-og-fjarmognun/fasteignalan/overdtryggd-ibudalan/breytilegir-vextir/") Óverðtryggt breytilegir vextir
    |  0-70% á 6,75% í 1-40 ár - 70-85% á 7,75% í 1-15 ár
  li
    a(href="http://www.landsbankinn.is/einstaklingar/lan-og-fjarmognun/fasteignalan/verdtryggd-ibudalan/") Verðtryggt breytilegir vextir
    |  0-70% á 3,75% í 1-40 ár - 70-85% á 4,75% í 1-15 ár

h4 MP Banki

ul
  li
    a(href="https://www.mp.is/einstaklingar/vorur-og-thjonusta/lan/ibudalan-overdtryggt/") Óverðtryggt fastir vextir í 3 ár
    |  0-60% á 7,45% í 15,25,40 ár - 60-80% á 8,35% í 1-10 ár
  li
    a(href="https://www.mp.is/einstaklingar/vorur-og-thjonusta/lan/ibudalan-overdtryggt/") Óverðtryggt breytilegir vextir
    |  0-60% á 6,75% í 15,25,40 ár - 60-80% á 7,75% í 1-10 ár
  li
    a(href="https://www.mp.is/einstaklingar/vorur-og-thjonusta/lan/ibudalan-verdtryggt/") Verðtryggt fastir vextir í 5 ár
    |  0-60% á 3,85% í 25,40 ár - 60-80% á 4,95% í 1-25 ár
  li
    a(href="https://www.mp.is/einstaklingar/vorur-og-thjonusta/lan/ibudalan-verdtryggt/") Verðtryggt breytilegir vextir
    |  0-60% á 3,75% í 25,40 ár - 60-80% á 4,85% í 1-25 ár

h3 Athugið

p
  | Gögnin á þessari síðu eru handunnin út frá upplýsingum á heimasíðum þessa stofnana. 
  | Upplýsingarnar geta verið gamlar eða innihaldið mistök. Ef þú sérð eitthvað sem 
  | stemmir ekki þá máttu endilega sendu leiðréttingu í gegnum Github eða hafa samband við mig
  a(href="http://nilsson.is/")  á einhvern hátt
  | .

small Síðast uppfært: 16. mars 2013
  br
  em Frekari hækkun á óverðtryggðum lánskostum. Lækkun á sumum verðtryggðum lánum.
