h3 Íbúðalán í boði

h4 Arion banki

ul
  li
    a(href="http://www.arionbanki.is/?PageID=6901") Óverðtryggt fastir vextir í 5 ár
    |  0-60% á 6,95% í 25,40 ár - 60-80% á 8,05% í 5-40 ár
  li
    a(href="http://www.arionbanki.is/?PageID=6519") Verðtryggt fastir vextir
    |  0-60% á 4,3% í 25,40 ár - 60-80% á 5,4% í 5-25 ár

p Arion banki býður einnig upp á blönduð íbúðalán með annaðhvort 25%, 50% eða 75% skiptingu; verðtryggt á móti óverðtryggt. Kjörin eru þau sömu og hér að ofan.

h4 Íbúðalánasjóður

ul
  li
    a(href="http://ils.is/einstaklingar/lan/lan-til-ibudarkaupa/") Verðtryggt fastir vextir með uppgreiðsluákvæði
    |  0-80% (mest 20M) á 4,2% í 20,30,40 ár
  li
    a(href="http://ils.is/einstaklingar/lan/lan-til-ibudarkaupa/") Verðtryggt fastir vextir án uppgreiðsluákvæði
    |  0-80% (mest 20M) á 4,7% í 20,30,40 ár

p Lán hjá Íbúðalánasjóði eru ein um að vera með fasta vexti út allt tímabilið. Einnig er ekki krafa á 1. veðrétt.

h4 Íslandsbanki

ul
  li
    a(href="http://www.islandsbanki.is/einstaklingar/lan/husnaedislan/overdtryggt-husnaedislan/") Óverðtryggt fastir vextir í 3 ár
    |  0-70% á 6,55% í 1-40 ár - 70-80% á 7,45% í 1-25 ár
  li
    a(href="http://www.islandsbanki.is/einstaklingar/lan/husnaedislan/overdtryggt-husnaedislan/") Óverðtryggt breytilegir vextir
    |  0-70% á 5,65% í 1-40 ár - 70-80% á 6,15% í 1-25 ár
  li
    a(href="http://www.islandsbanki.is/einstaklingar/lan/husnaedislan/verdtryggt-husnaedislan/") Verðtryggt fastir vextir í 5 ár
    |  0-70% á 4,10% í 1-40 ár - 70-80% á 4,95% í 1-25 ár

p Óverðtryggðu fastvaxtalánin hjá Íslandsbanka eru aðeins með fasta vexti í 3 ár. Þá fer lánið sjálfkrafa í breytilega vexti en hægt er að semja aftur um fasta vexti.

h4 Landsbankinn

ul
  li
    a(href="http://www.landsbankinn.is/einstaklingar/lan-og-fjarmognun/fasteignalan/overdtryggd-ibudalan/fastir-vextir/") Óverðtryggt fastir vextir í 5 ár
    |  0-70% á 6,85% í 1-40 ár - 70-85% á 7,85% í 1-15 ár
  li
    a(href="http://www.landsbankinn.is/einstaklingar/lan-og-fjarmognun/fasteignalan/overdtryggd-ibudalan/fastir-vextir/") Óverðtryggt fastir vextir í 3 ár
    |  0-70% á 6,65% í 1-40 ár - 70-85% á 7,65% í 1-15 ár
  li
    a(href="http://www.landsbankinn.is/einstaklingar/lan-og-fjarmognun/fasteignalan/overdtryggd-ibudalan/breytilegir-vextir/") Óverðtryggt breytilegir vextir
    |  0-70% á 6,15% í 1-40 ár - 70-85% á 7,15% í 1-15 ár
  li
    a(href="http://www.landsbankinn.is/einstaklingar/lan-og-fjarmognun/fasteignalan/verdtryggd-ibudalan/") Verðtryggt breytilegir vextir
    |  0-70% á 3,75% í 1-40 ár - 70-85% á 4,75% í 1-15 ár

h4 MP Banki

ul
  li
    a(href="https://www.mp.is/einstaklingar/vorur-og-thjonusta/lan/ibudalan-overdtryggt/") Óverðtryggt breytilegir vextir
    |  0-60% á 5,65% í 15,25,40 ár - 60-80% á 6,00% í 1-10 ár
  li
    a(href="https://www.mp.is/einstaklingar/vorur-og-thjonusta/lan/ibudalan-verdtryggt/") Verðtryggt fastir vextir
    |  0-60% á 4,30% í 25,40 ár - 60-80% á 6,00% í 1-25 ár

h3 Athugið

p
  | Gögnin á þessari síðu eru handunnin út frá upplýsingum á heimasíðum þessa stofnana. 
  | Upplýsingarnar geta verið gamlar eða innihaldið mistök. Ef þú sérð eitthvað sem 
  | stemmir ekki þá máttu endilega sendu leiðréttingu í gegnum Github eða hafa samband við mig
  a(href="http://nilsson.is/")  á einhvern hátt
  | .

small Síðast uppfært: 13. maí 2012